spring:
  application:
    name: z-ai-agent
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/z_ai_agent
    username: postgres
    password: 123456
  mvc:
    async:
      request-timeout: 10000 # 设置异步请求的超时时间为10秒
  ai:
    dashscope:
#      api-key: 配置成自己的
      chat:
        options:
          model: qwen-plus
    ollama:
      base-url: http://localhost:11434
      chat:
        model: gemma3:1b
    mcp:
      client:
#        # 本地，则可以使用stdio模式，并且指定mcp服务配置文件的位置
#        stdio:
#          servers-configuration: classpath:mcp-servers.json
        # 如果是远程，使用sse模式，并且指定mcp服务的地址
        sse:
          connections:
#            amap-maps:
#              url: https://mcp.amap.com/sse?key=ca85a98bd3a9d0dd276f254f8d4e1426
            server1:
              url: http://localhost:8127
#    vectorstore:
#      pgvector:
#        index-type: HNSW
#        dimensions: 1536
#        distance-type: COSINE_DISTANCE
#        max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
#        initialize-schema: true
  profiles:
    active: local
server:
  port: 8123
  servlet:
    context-path: /api
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.ai.zaiagent.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
  openapi:
    title: "接口文档"
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - com.aih.zaiagent.controller
logging:
  level:
    org.springframework.ai.chat.client.advisor.org.springframework.ai.chat.client.advisor.MyLoggerAdvisor: debug
    org.springframework.ai: DEBUG # 修改日志级别，查看 Spring AI 更多调用细节
# searchApi https://www.searchapi.io/
#search-api:
#  api-key: your-apikey

## 腾讯云COS对象存储配置
#tencent:
#  cos:
#    secret-id: ${COS_SECRET_ID:your-secret-id}
#    secret-key: ${COS_SECRET_KEY:your-secret-key}
#    region: ${COS_REGION:ap-guangzhou}
#    bucket-name: ${COS_BUCKET_NAME:your-bucket-name}
#    base-url: ${COS_BASE_URL:https://your-bucket-name.cos.ap-guangzhou.myqcloud.com}

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: is_deleted
      logic-delete-value: true
      logic-not-delete-value: false

############## Sa-Token 配置 (文档: https://sa-token.cc) ##############
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: Authorization
  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  timeout: 2592000
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  active-timeout: -1
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个 token （为 true 时所有登录共用一个 token, 为 false 时每次登录新建一个 token）
  is-share: false
  # token 风格（默认可取值：uuid、simple-uuid、random-32、random-64、random-128、tik）
  token-style: uuid
  # 是否输出操作日志
  is-log: true
  # 是否尝试从请求体里读取token
  is-read-body: true
  # 是否尝试从header里读取token
  is-read-header: true
  # 是否尝试从cookie里读取token
  is-read-cookie: true
  # 是否在header中返回token
  is-write-header: true

# 配置 AI 记忆
love-app:
  chat-memory-size: 20
manus:
  chat-memory-size: 20
